body{
background-color: black;
color:red;
font-family: "Libertinus Serif", serif;

}

header{
    font-family: "Libertinus Serif", serif;
    font-size : 75px ;
    border-bottom: double 5px red;
    padding: 50px;
    text-align: center;
}
h1{
    font-size : 30px;
}
p{
    font-size : 20px
}
section {
    display: flex;
    justify-content: center;
    background-color: rgb(78, 2, 2);
    color: red
}

.vampiro{
    margin-right: 5%;
}
img{
    width: 300px;
    
}