body{
background-color: black;
color:green;
font-family: "Manufacturing Consent", system-ui;

}

header{
    font-family: "Manufacturing Consent", system-ui;
    font-size : 75px ;
    border-bottom: double 5px green;
    padding: 50px;
    text-align: center;
}
h1{
    font-size : 30px;
}
p{
    font-size : 20px
}
